{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список книг</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Год публикации</th>
                <th>Имя автора</th>
                <th>Категория</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                <td>{{ book.name }}</td>
                <td>{{ book.publicationYear }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.category.name }}</td>
                <td>
                    <a href="{{ path('book_show', { 'id': book.id }) }}" class="btn btn-xs btn-info">посмотреть</a>
                </td>
                <td>
                    <a href="{{ path('book_edit', { 'id': book.id }) }}" class="btn btn-xs btn-info">редактировать</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('book_new') }}" class="btn btn-success">Новая книга</a>
        </li>
    </ul>
{% endblock %}
